<PreferenceScreen
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:title="@string/settings"
       >

  <PreferenceCategory
    android:title="@string/leagues"
    >

    <PreferenceScreen
          android:key="leaguesSettings"
          android:title="@string/countries">
      <PreferenceCategory
              android:key="countriesCategory"
              android:title="@string/countries" />
    </PreferenceScreen>

  </PreferenceCategory>

  <PreferenceCategory
    android:title="@string/notification"
    >

    <PreferenceScreen
      android:key="notificationSettings"
      android:title="@string/notification"
      >
      <PreferenceCategory
              android:key="notificationCategory"
              android:title="@string/notification" />

      <android.support.v14.preference.MultiSelectListPreference
        android:key="starts"
        android:title="@string/notifyStart"
        />

      <android.support.v14.preference.MultiSelectListPreference
       android:key="event"
       android:title="@string/notifyEvent"
        />

      <android.support.v14.preference.MultiSelectListPreference
       android:key="today"
       android:title="@string/notifyToday"
        />
      
    </PreferenceScreen>
    
  </PreferenceCategory>
  
</PreferenceScreen>
