<PreferenceScreen  xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- opens a subscreen of settings -->

  <PreferenceCategory
    android:title="@string/countries"
    >

    <CheckBoxPreference
             android:key="@string/hungary"
             android:title="@string/hungary"/>

    <CheckBoxPreference
             android:key="@string/sweden"
             android:title="@string/sweden"/>

    <CheckBoxPreference
             android:key="@string/finnland"
             android:title="@string/finnland"/>

    <CheckBoxPreference
                 android:key="@string/switzerland"
                 android:title="@string/switzerland"/>

    <CheckBoxPreference
                 android:key="@string/czech"
                 android:title="@string/czech"/>


  </PreferenceCategory>


  <!--<PreferenceScreen
      android:key="button_voicemail_category_key"
      android:title="AAA"
      android:persistent="false">
    <ListPreference
        android:key="button_voicemail_provider_key"
        android:title="BBB"/>

    --><!-- opens another nested subscreen --><!--
    <PreferenceScreen
        android:key="button_voicemail_setting_key"
        android:title="CCC"
        android:persistent="false">
    </PreferenceScreen>


  </PreferenceScreen>-->
</PreferenceScreen>
